<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-cdIy7B3dHRmn4nNK4IISCA7OSI9b2QOhF8hOgeZ1I6j5AeSf9arhJod27d5OLhfqbnwBvCeM5yI0ssKPJ5sR8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        function sendMessage() {
            var message = "Hello, server!";
            socket.emit('message_from_client', message);
            console.log('Sent message to server:', message);
        }

        socket.on('message_from_server', function(message) {
            console.log('Received message from server:', message);
        });
    </script>
</head>
<body>
    <h1>WebSocket Example</h1>
    <p>        
        {% for message in messages %}
                
            <div class="alert alert-success mx-1 mx-md-4">

                {{ message }} 

            </div>

        {% endfor %}
       
    </p>
    <button onclick="sendMessage()">Enviar Mensaje</button>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/socket_io.js"></script>
    <script src="/static/js/call_socket_io.js"></script>
</head>
<body>
    <h1>WebSocket Example</h1>
    <button onclick="sendMessage()">Send Message</button>
    <h2>Messages</h2>
    <ul id="messages">  
    </ul>
</body>
</html>